body {
  background-color: #EAF6F6;
}


hr {
  border-color: grey;
  border-style: none;
  border-top-style: dotted;
  width: 30%;
  border-width: 10px;
}

h1 {
  color: #66BFBF;
}

h2 {
  color: #66BFBF;
}

img {
  width: 300px;}

.heading2{
  color: orange;
}
.heading3
{
  color:purple;
}
.heading4{
  color: green;
}
